.app-bar-container {

}

.app-bar-content {
    display: flex;
    height: 44px;
}

.app-bar-content > div {
    flex: 1 1 0px;
}

.app-bar-large-title {
    padding: 0 16px;
    height: 52px;
}

.app-bar-left {
    display: flex;
}

.app-bar-right {
    display: flex;
    justify-content: flex-end;
}

.app-bar-left > div {
    padding: 16px;
}

.app-bar-right > div {
    padding: 16px;
}

.fa {
	color: #FFF;
}